:root {
  /* theme stuff */
  --font: "Lato", sans-serif;
  --font-color: #003f7f;
  --bg: linear-gradient(#acc8e5, #719dcc);
  --inner-bg: linear-gradient(#fff3, transparent);
}
body {
  font-family: var(--font);
  color: var(--font-color);
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}
table {
  margin: auto;
}

#bg {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--bg);
}
#inner_bg {
  position: absolute;
  height: 100%;
  width: 95%;
  left: 2.5%;
  background: var(--inner-bg);
}
#loading {
  position: fixed;
  top: calc(50% - 50px);
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff7;
}
#loading * {
  margin: 0;
}
#app {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

h1,
h2,
h3 {
  color: #003f7f;
}
.tab_navigator {
  width: 100%;
  height: 20%;
  padding-top: 5px;
  overflow: hidden;
  box-shadow: inset 0 -20px 8px -20px #07f7;
}
.tab_navigator span {
  margin: 0 2px;
}
.tab_navigator button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.tab_navigator[role="layers"] button {
  font-size: 16px;
  padding: 6px 8px;
}
.tab {
  position: relative;
  width: 100%;
}

/*#menu_btn {
  position: fixed;
  bottom: 0;
  left: 0;
}
#menu_tab {
  position: fixed;
  background: #719dcc;
  top: 10%;
  right: 0;
  z-index: 1;

  width: calc(100% - 60px);
  height: 100%;
}*/

button {
  background: linear-gradient(white, #7fcfff);
  color: #000b;
  box-shadow: 3px 3px 6px #07f7;
  border: 0px;
  border-radius: 5px;
  padding: 5px 7px;
  font-family: var(--font);
  transition: all 0.3s ease;
  transform: scale(1);
}
button:hover {
  transform: scale(1.05);
}
button:active {
  transform: scale(1);
}

.resource {
  font-size: 18px;
}
.resource b {
  font-size: 24px;
  text-shadow: 0 1px 6px #07f7;
}

.resourceTable td:not(:first-child) button {
  width: 180px;
}

.buyables {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
.buyable {
  text-align: left;
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 0px;
}
.buyable > div:first-child {
  padding: 5px 8px;
  flex-grow: 1;
}
.buyable > div:first-child b {
  font-size: 18px;
}
.buyable > div:first-child span {
  display: inline-block;
  min-height: 50px;
  padding-top: 2px;
  font-size: 13.3333px;
}
.buyable button {
  width: 180px;
  height: calc(100% - 12px);
  margin: 6px;
}

#notifyarea {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
}
.notification {
  position: relative;
  top: 0px;
  right: -6px;
  margin: 6px;
  padding: 2px;
  background-color: #000b;
  color: #ffffff;
  text-align: center;
  border-radius: 6px 0 0 6px;
  z-index: 1;
}

#version {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  opacity: 0.5;
}
#hardreset {
  background: linear-gradient(red, black);
  color: white;
  box-shadow: 3px 3px 6px red;
}

/* GAME */
.buyable:is([role="efficient miner"]) {
  background: url("images/StrongMiner_BG_LQ.png");
  background-position: auto 25%;
  background-size: cover 20%;
  color: white;
}

.buyable:is([role="ranged miner"]) {
  background: url("images/RangedMiner_BG_LQ.png");
  background-position: auto 10%;
  background-size: cover 20%;
  color: white;
}

.upgrade:is([role="miner power"]) {
  background: url("images/SSH_Hashing.png");
}

/*.buyable:is([erole="strong miner"]) button {
  box-shadow: 3px 3px 6px #0107;
  color: white;
  background: linear-gradient(#9aaa98, transparent);
}

.buyable:is([role="ranged miner"]) button {
  box-shadow: 3px 3px 6px #0107;
  color: white;
  background: linear-gradient(#0e8f00, transparent);
}*/

button[role="equipment"] {
  background: linear-gradient(white, #c093ed);
}
button[role="greenpapers"] {
  background: linear-gradient(white, #bfb);
}

.canbuy {
  background: linear-gradient(#bfb, #7f7);
  color: #570;
  transition: all 0.8s ease;
}
.cannotbuy {
  background: linear-gradient(grey, #533);
  color: #200;
  transition: all 0.8s ease;
}

.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  max-width: 400px;
  bottom: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 5px 8px;
  border-radius: 6px;
  pointer-events: none;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
